doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title DASHGUM - Bootstrap Admin Template
    // Bootstrap core CSS
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='assets/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='assets/css/style.css', rel='stylesheet')
    link(href='assets/css/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body(onload='getTime()')
    //
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    .container
      #showtime
      .col-lg-4.col-lg-offset-4
        .lock-screen
          h2
            a(data-toggle='modal', href='#myModal')
              i.fa.fa-lock
          p UNLOCK
          // Modal
          #myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                  h4.modal-title Welcome Back
                .modal-body
                  p.centered
                    img.img-circle(width='80', src='assets/img/ui-sam.jpg')
                  input.form-control.placeholder-no-fix(type='password', name='password', placeholder='Password', autocomplete='off')
                .modal-footer.centered
                  button.btn.btn-theme04(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-theme03(type='button') Login
          // modal
      // /col-lg-4
    // /container
    // js placed at the end of the document so the pages load faster
    script(src='assets/js/jquery.js')
    script(src='assets/js/bootstrap.min.js')
    // BACKSTRETCH
    // You can use an image of whatever size. This script will stretch to fit in any screen size.
    script(type='text/javascript', src='assets/js/jquery.backstretch.min.js')
    script.
      $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    script.
      function getTime()
      {
      var today=new Date();
      var h=today.getHours();
      var m=today.getMinutes();
      var s=today.getSeconds();
      // add a zero in front of numbers<10
      m=checkTime(m);
      s=checkTime(s);
      document.getElementById('showtime').innerHTML=h+":"+m+":"+s;
      t=setTimeout(function(){getTime()},500);
      }
      function checkTime(i)
      {
      if (i<10)
      {
      i="0" + i;
      }
      return i;
      }
